<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* python
* R
* SQl

1. python
2. R
3. SQl

1. pyplot
2. numpy
3. pandas

| Data Science Tools  | 
-------------------------------
|          anconda           |
-------------------------------
|        Jupyter               |
-------------------------------
|   git hup                     |
-------------------------------

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Ahmed Samir